
<table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Restaurant Name</th>
        <th>Username</th>        
        <th>Food Items</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of foodOrders">
        <td>{{ order.orderId }}</td>
        <td>{{ order.restoName }}</td>
        <td>{{ order.username }}</td>      
        <td>
          <table>
            <thead>
              <tr>
                <th>Food</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let foodItem of order.foodItems">
                <td>{{ foodItem.food }}</td>
                <td>{{ foodItem.price | currency:'INR':'symbol':'1.2-2' }}</td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>Total Amount: ₹ {{ order.total }}</td>  
      </tr>
    </tbody>
  </table>
  