<div class="body">
    <div class="container">
        <div class="title"> Add Dish</div>
        <div class="content">
            <form (ngSubmit)="submit()">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details"> Dish Name</span>
                        <input type="text" placeholder="Enter Dish name" [(ngModel)]="dish.dishName" name="dishName" >
                    </div>
                    <div class="input-box">
                        <span class="details">Dish Price</span>
                        <input type="number" placeholder="Dish Price"  [(ngModel)]="dish.price" name="price">
                    </div>
                   
                </div>
                
                <div class="button">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>